@mixin flex($dir) {
  display: flex;
  flex-direction: $dir;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


//header 
ul li {
  list-style: none;
}

a {
  font-size: 112%;
  font-weight: 110%;
  color: white;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #e7cec5;
  }
}

.container {
  max-width: 98.79vw;

}

h2 {
  font-weight: 200%;
  font-size: 170%;
  margin-left: 40px;
  margin-right: 60px;
  text-decoration-line: none;
  color: #13315c;
  cursor: pointer;
}

// footer 

footer {
  background-color: #13315c;
  height: 330px;


  .main-footer {
    @include flex(row);
    align-items: flex-start;
    justify-content: center;
    color: white;
    gap: 300px;

    .left-side {
      @include flex(column);
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 20px;

      .medias {
        @include flex(row);
        height: 50px;
        width: 180px;
        align-items: center;
        justify-content: space-around;
        margin-bottom: 15px;


        .media {
          height: 30px;
          width: 30px;
          object-fit: cover;
        }

        .youtube {
          height: 30px;
          width: 85px;
          object-fit: cover;
        }
      }

      .address {
        h4 {
          font-size: 120%;
          margin-bottom: 10px;
        }

        .email {

          p {
            font-size: 120%;
          }
        }

        .phones {
          @include flex(column);
          margin-top: 20px;

          .phone {
            height: 20px;
            width: 20px;
          }

          p {
            margin-left: 30px;
            margin-top: - 17px;
          }
        }
      }
    }

    .right-side {
      @include flex(column);
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 20px;
    }

    img {
      height: 200px;
      width: 400px;
      object-fit: cover;
    }
  }

  h5 {
    text-align: center;
    color: white;
    margin-top: 10px;
  }
}


//main 
.main {
  width: 98.79vw;

  .about {
    @include flex(column);
    justify-content: flex-start;
    align-items: center;
    height: 550px;


    img {
      width: 100%;
      height: 550px;
      object-fit: cover;
    }

    .about-us {
      @include flex(column);
      align-items: center;
      justify-content: center;
      height: 300px;
      width: 100%;
      background-color: rgb(0, 53, 89, 0.5);
      margin-top: -430px;

      h2 {
        font-weight: 210%;
        color: white;
      }

      p {
        color: white;
        font-size: 120%;

      }
    }

  }

  .reviews {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    height: 250px;
    margin-left: 30px;
    gap: 20px;

    .review {
      @include flex(column);
      align-items: center;
      justify-content: flex-start;
      margin-top: 25px;

      h4 {
        font-size: 140%;
        margin-bottom: 15px;
      }

      p {
        font-size: 110%;
      }
    }
  }


}



@media (max-width: 1250px) {
  
  footer {
    background-color: #13315c;
    height: 330px;
  
  
    .main-footer {
      @include flex(row);
      align-items: flex-start;
      justify-content: center;
      color: white;
      gap: 300px;
  
      .left-side {
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
  
        .medias {
          @include flex(row);
          height: 50px;
          width: 180px;
          align-items: center;
          justify-content: space-around;
          margin-bottom: 15px;
  
  
          .media {
            height: 30px;
            width: 30px;
            object-fit: cover;
          }
  
          .youtube {
            height: 30px;
            width: 85px;
            object-fit: cover;
          }
        }
  
        .address {
          h4 {
            font-size: 120%;
            margin-bottom: 10px;
          }
  
          .email {
  
            p {
              font-size: 120%;
            }
          }
  
          .phones {
            @include flex(column);
            margin-top: 20px;
  
            .phone {
              height: 20px;
              width: 20px;
            }
  
            p {
              margin-left: 30px;
              margin-top: - 17px;
            }
          }
        }
      }
  
      .right-side {
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
      }
    }

  }
  
  
  //main 
  .main {
    width: 98.79vw;


  
    .about {
      @include flex(column);
      justify-content: flex-start;
      align-items: center;
      height: 550px;
  
  
      img {
        width: 100%;
        height: 500px;
        object-fit: cover;
      }
  
      .about-us {
        @include flex(column);
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        background-color: rgb(0, 53, 89, 0.5);
        margin-top: -430px;
  
        h2 {
          font-weight: 210%;
          color: white;
        }
  
        p {
          color: white;
          font-size: 120%;
  
        }
      }
  
    }
  
    .reviews {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      height: 250px;
  
      .review {
        @include flex(column);
        align-items: center;
        justify-content: flex-start;
        margin-top: 25px;
  
        h4 {
          font-size: 140%;
          margin-bottom: 15px;
        }
  
        p {
          font-size: 110%;
        }
      }
    }
  
    
  }

 
 
}
  
  



@media (max-width: 900px) {

  footer {
    background-color: #13315c;
    height: 330px;
  
  
    .main-footer {
      @include flex(row);
      align-items: flex-start;
      justify-content: center;
      color: white;
      gap: 240px;
  
      .left-side {
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
  
        .medias {
          @include flex(row);
          height: 50px;
          width: 180px;
          align-items: center;
          justify-content: flex-start;
          margin-bottom: 10px;
          margin-left: 60px;
  
  
          .media {
            height: 30px;
            width: 30px;
            object-fit: cover;
          }
  
          .youtube {
            height: 30px;
            width: 85px;
            object-fit: cover;
          }
        }
  
        .address {
          margin-left: 80px;
          h4 {
            font-size: 120%;
            margin-bottom: 10px;
          }
  
          .email {
  
            p {
              font-size: 120%;
            }
          }
  
          .phones {
            @include flex(column);
            margin-top: 20px;
  
            .phone {
              height: 20px;
              width: 20px;
            }
  
            p {
              margin-left: 30px;
              margin-top: - 17px;
            }
          }
        }
      }
  
      .right-side {
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        margin: 20px 65px 0 0;
      }

      img {
        margin-left: - 110px;
      }
    }
  
  
    h5 {
      text-align: center;
      color: white;
      
    }
  
  }
  
  
  
  
  
  //main -   доделать!
  .main {
    width: 98.79vw;
  
    .about {
      @include flex(column);
      justify-content: flex-start;
      align-items: center;
      height: 470px;
  
  
      img {
        width: 100%;
        height: 470px;
        object-fit: cover;
      }
  
      .about-us {
        @include flex(column);
        align-items: center;
        justify-content: center;
        height: 300px;
        width: 100%;
        background-color: rgb(0, 53, 89, 0.5);
        margin-top: -390px;
  
        h2 {
          font-weight: 210%;
          color: white;
        }
  
        p {
          color: white;
          font-size: 120%;
  
        }
      }
  
    }
  
    .reviews {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 380px;
  
      .review {
        @include flex(column);
        align-items: center;
        justify-content: flex-start;
        margin-top: 10px;
  
        h4 {
          font-size: 140%;
          margin-bottom: 15px;
        }
  
        p {
          font-size: 110%;
        }
      }
    }
  
  
  }
    
 
}

@media (max-width: 650px) {


//footer
  footer {
    background-color: #13315c;
    height: 350px;
  
  
    .main-footer {
      @include flex(row);
      align-items: flex-start;
      justify-content: center;
      color: white;
      
  
      .left-side {
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: -220px;
  
        .medias {
          @include flex(row);
          height: 50px;
          width: 160px;
          align-items: center;
          justify-content: space-around;
          margin-bottom: 15px;
          margin-left: 280px;
  
  
          .media {
            height: 30px;
            width: 30px;
            object-fit: cover;
          }
  
          .youtube {
            height: 30px;
            width: 85px;
            object-fit: cover;
          }
        }
  
        .address {
          margin-left: 250px;
          h4 {
            font-size: 120%;
            margin-bottom: 10px;
          }
  
          .email {
  
            p {
              font-size: 120%;
            }
          }
  
          .phones {
            @include flex(column);
            margin-top: 20px;
  
            .phone {
              height: 20px;
              width: 20px;
            }
  
            p {
              margin-left: 30px;
              margin-top: - 17px;
            }
          }
        }
      }
  
      .right-side {
        @include flex(column);
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
        margin-left: -200px;

        img {
          height: 120px;
          width: 220px;
          object-fit: cover;
          margin-left: 20px;
        }
      }
    }

  
    h5 {
      text-align: center;
      color: white;    
    }
  
  }
  
  //main 
  .main {
    width: 98.79vw;
  
    .about {
      @include flex(column);
      justify-content: flex-start;
      align-items: center;
      height: 400px;
  
  
      img {
        width: 100%;
        height: 400px;
        object-fit: cover;
      }
  
      .about-us {
        @include flex(column);
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 100%;
        background-color: rgb(0, 53, 89, 0.5);
        margin-top: -330px;
  
        h2 {
          font-weight: 210%;
          color: white;
        }
  
        p {
          color: white;
          font-size: 120%;
  
        }
      }
  
    }
  
    .reviews {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      height: 450px;
  
      .review {
        @include flex(column);
        align-items: center;
        justify-content: flex-start;
        margin-top: 25px;
  
        h4 {
          font-size: 140%;
          margin-bottom: 15px;
        }
  
        p {
          font-size: 110%;
        }
      }
    }  
  }
  
 
  //national - страница - сделать!
 
  
  
  

  
}